@font-face {
    font-family: HelveticaPro;
    src: url('fonts/HelveticaNeueLTProBdEx.otf');
}
body,p,span,div,a,button {
    font-family: HelveticaPro;
}
.bgImageDivFirst {
    background-image: url('firstBg.png');
    background-position-x: 15%;
    height: 100vh;
}
.blueBgPosition {
    position: absolute; 
    bottom: 3rem; 
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.twitterBgImage {
    background-image: url('logoSvg.svg');
    background-repeat: no-repeat;
    height: 80vh;
    /* background-size: cover; */
    background-position-x: 50%;
}
.buyNowBtnStyle {
    background-color: #1D9BF0;
    border-radius: 5px;
    border: none;
    color: #fff;
}
.blueBgFirstDiv {
    background-color: #1D9BF0;
    border-radius: 26px;
    color: #fff;
}
.bgImageDivSecond {
    background-image: url('secondBg.png');
}
.imgsRowStyle img {
    max-width: 209px;
    max-height: 209px;
}
.bgImageDivThird {
    background-image: url('firstBg.png');
}
.bgImageDiv4 {
    background-image: url('Bg4.png');

}
.bgImageDiv5 {
    background-image: url('Bg5.png');

}
.twitter-tweet {
    margin: auto !important;
}
.buyNowBtnStyle2 {
    color: #1D9BF0;
    background-color: #fff;
    border-radius: 5px;
    border: none;
}
@media (max-width: 767.98px) { 
    .blueBgPosition {   
        position: relative;
        bottom: 1.5rem;
    }
    .twitterBgImage {
        height: auto;
    }
    .bgImageDivFirst {
        height: auto;
        background-position-x: auto;
    }
 }